<div class="jumbotron">
    <h1>StackOverflow Demo</h1>
    <p class="lead">Here you can see and manage your posts</p>
    <p><a href="https://stackoverflow.com/" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

